.navList {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  list-style: none;
  backdrop-filter: blur(5px);
  background-color: #000a;
  z-index: 100;
  transform: translate(0, -100%);
  transition: transform 0.3s ease;
  animation: showBtn 0.2s ease normal 2s forwards;
  opacity: 0;
}

.showMenu {
  transform: translate(0, 0);
}

.menuBtn {
  position: absolute;
  bottom: 10px;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 100px;
  padding: 10px 0;
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 18px;
  z-index: 110;
  animation: showBtn 0.2s ease normal 2s forwards;
  opacity: 0;
}

.menuBtn::before {
  content: "[";
  position: absolute;
  top: 7px;
  left: 0;
  transition: 0.5s;
  font-size: 20px;
}

.menuBtn::after {
  content: "]";
  position: absolute;
  top: 7px;
  right: 0;
  transition: 0.5s;
  font-size: 20px;
}

@keyframes showBtn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (min-width: 1000px) {
  .menuBtn {
    display: none;
  }

  .navList {
    flex-direction: row;
    top: 20px;
    left: 0;
    right: 0;
    height: max-content;
    width: max-content;
    margin: auto;
    gap: 50px;
    background-color: transparent;
    transform: translate(0, 0);
  }

  .navList::before {
    content: "[";
    position: absolute;
    top: -4px;
    left: -30px;
    transition: 0.5s;
    font-size: 20px;
  }

  .navList::after {
    content: "]";
    position: absolute;
    top: -4px;
    right: -30px;
    transition: 0.5s;
    font-size: 20px;
  }

  .navList li {
    position: relative;
  }

  .linkWithBars::before {
    content: "||";
    position: absolute;
    top: 0px;
    left: -30px;
    transition: 0.5s;
    font-size: 18px;
    pointer-events: none;
  }

  .linkWithBars::after {
    content: "||";
    position: absolute;
    top: 0px;
    right: -30px;
    transition: 0.5s;
    font-size: 18px;
    pointer-events: none;
  }
}
